:root {
  /*https://coolors.co/505033-264969-cfcfb4-b4cde4*/
  --drab-dark-brown: rgba(80, 80, 51, 1);
  --indigo-dye: rgba(38, 73, 105, 0.7);
  --pearl: rgba(207, 207, 180);
  --pearl-opacity: rgba(207, 207, 180, 0.5);
  --columbia-blue: rgba(180, 205, 228, 1);
  --columbia-opacity: rgba(180, 205, 228, 0.5);
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin: 20px 0;
}
.logo {
  border-radius: 50%;
  justify-self: start;
  margin-left: 60px;
}
nav {
  justify-self: center;
  display: flex;
}
.navigation {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  width: max-content;
}

li a {
  align-self: center;
  height: min-content;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding: 10px 15px;
  border: 1px solid black;
  min-width: 80px;
}
.links_list {
  color: var(--pearl);
  background-color: var(--drab-dark-brown);
}
.hero {
  position: relative;
  text-align: left;
}
.rafting_image {
  margin-left: 4rem;
  width: 90%;
  height: auto;
}
.title {
  font-family: "Georgia", serif;
  background-color: var(--indigo-dye);
  text-align: center;
  color: white;
  position: absolute;
  top: 10%;
  width: 90%;
  left: 64px;
}
h2 {
  color: var(--drab-dark-brown);
  font-family: "Georgia", serif;
  font-size: 30px;
}
.client {
  width: 200px;
  height: auto;
  opacity: 1;
  margin-right: 10px;
}
.socialmedia {
  width: 2rem;
}
.article_about {
  display: flex;
  position: absolute;
  top: 40%;
  left: 64px;
  align-items: center;
  background-color: var(--pearl-opacity);
  max-width: 90%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
section,
footer {
  margin-left: 4rem;
  margin-right: 4rem;
}
.images_rafting {
  display: flex;
}
.h2_Adventure {
  margin-left: 60px;
}
.rafting {
  width: 14rem;
  height: 10rem;
}
footer {
    display:grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin:20px 0 ;
}
.copy{
    border-radius: 50%;
    justify-self: center;
}
.logos_media{
    margin-right: 6rem;
}
.socialmedia {
  margin: 10px 20px;
}
p, figcaption {
  font-family: "Roboto", sans-serif;
}

/* This section is for contact.html */

.employee{
  margin-left: 4rem;
  width: 90%;
  height: 45rem;
}
.title2{
  font-family: "Georgia", serif;
  background-color: var(--indigo-dye);
  padding: 20px 0px;
  text-align: center;
  color: white;
  position: absolute;
  top: 30%;
  width: 90%;
  left: 64px;
}
.information{
  display: flex;
  flex-direction: column;
  align-items: self-start;
  margin-bottom: 40px;
  background-color: var(--columbia-opacity);
}
.address{
  margin: 8px;
}
.form{
  margin-bottom: 15px;

}
textarea{
  width: 150px;
}
.section_form{
  margin-left: 0px;
  justify-content: space-around;
}
.submit{
  background-color:#0071ad ;
  color:white;
  font-size: 15px;
  width: 80px;
  border-radius: 10%;
}
/* This section is for home */

.hero form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trips_home{
  text-align: center;
  padding: 20px;
}
.ref_trips{
  list-style: none;
  text-decoration: none;
  background-color: #0071ad;
  border-radius: 10%;
  padding: 2px;
}
.grid_home{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 40px 20px;
}