:root{
    /*https://coolors.co/505033-264969-cfcfb4-b4cde4*/
    --drab-dark-brown: rgba(80, 80, 51, 1);
    --indigo-dye: rgba(38, 73, 105, 0.7);
    --pearl: rgba(207, 207, 180, 1);
    --columbia-blue: rgba(180, 205, 228, 1);
}
body{
    margin: 0;
    padding: 0;
}
header{
    position: absolute;
    width: 96.2%;
}
nav {
    padding: 2rem;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--indigo-dye);
    z-index: 10;
    width: 100%;
    height: 7rem;
}

.logo{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-left: 3rem;
}
.urls{
    width: 20rem;
    display: flex;
    justify-content: space-between;
    margin-right: 10rem;
    list-style: none;
    padding: 0;
}

.urls a{
    background-color: var(--drab-dark-brown);
    padding: 6px;
    border-radius: 10%;
    color:var(--pearl);
    text-decoration: none;
    margin:0 5px;
    font-family:'Roboto', sans-serif;
}

h1{
    position: absolute;
    top: 10rem;
    left: 25%;
    z-index: 3;
    font-family: "Georgia", serif;
    color: white;
    text-align: center;
    font-size: 5rem;
}
main {
    flex: 1; /* take up the remaining space */
    display: flex;
    justify-content: center;
  }
.rafting-image{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    z-index: 1;
}