:root{
  --background: #4682b4
}
main {
  max-width: max-content;
}
nav {
  background-color: var(--background);
  padding: 10px;
}
nav a {
  color: white;
  display: block;
  padding: 20px;
}
h1 {
  color: var(--background);
}
img {
  width: 150px;
  height: auto;
  border: 1px solid var(--background);
  padding: 2px;
  box-shadow: 0 0 30px gray;
}
p {
  padding: 10px;
}
aside {
  width: 400px;
  margin: 1rem;
  border: lightblue 10 px;
  padding: 1rem;
  background-color: #eefeee;
  color: rgb(121, 142, 5);
}
main img {
  width: 150px;
  height: auto;
}
aside img {
  width: 200;
  height: auto;
}
p {
  padding: 0;
}
footer {
  margin-top: 10px;
  border-top: 1px solid #000;
  text-align: center;
}
